body{
    margin:0px;
    background-color: pink;
}
header{
    display:flex;
    justify-content: space-between;
    background-color: aqua;
    position:sticky; 
    top: 0%;
    }
nav{
    font-size: 20px;
    align-self:center;
}
.padded_box{
    background-color: aquamarine;
}
.first{
    background-color: aliceblue;
}
.creator{
    font-size: 30px;
}

.item_wrapper{
    display: flex;
    justify-content: space-around;
}
.self_image{
    padding-top: 20px;
}
